.footer {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .footer-body {
        display: flex;
        justify-content: space-between;
        gap: 32px;

        .footer-navigation-links {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .navs-title {
                padding: 10px;
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                text-transform: capitalize;
            }

            .nav-link {
                padding: 10px;
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                text-transform: capitalize;
            }
        }

        .footer-promo-links {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .title {
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                text-transform: capitalize;
                padding: 10px 0;
            }

            .social-links {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .links {
                    display: flex;
                    gap: 8px;

                    .link {
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #FFF;
                    }
                }
            }

            .app-links {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }

    }
}