.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    background: #0E0E0F;
    backdrop-filter: blur(12px);
    position: relative;
    z-index: 9;

    .header-navigations {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;

        a {
            color: #A3A3A3;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.35px;
        }

        .active {
            color: #FFF;
        }
    }

    &-actions {
        display: flex;
        align-items: center;
        gap: 16px;

        .btn-group {
            border-radius: 4px;
            border: 1px solid #FFF;

            .dropdown-toggle {
                padding: 8px 16px;
                display: flex;
                align-items: center;
                gap: 4px;

                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                border: none !important;

                &::after {
                    display: none;
                }

                span {
                    display: inline-block;
                    color: #FFF;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: uppercase;
                }

            }

            .dropdown-menu {
                border-radius: 4px;
                background: #0E0E0F;
                min-width: 78px;

                a {
                    color: #FFF;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: -0.35px;
                    transition: all 0.2s ease-in;

                    &:hover {
                        background: #232325;
                    }
                }
            }


        }

        .phone-div {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 10px 16px;
            border-radius: 4px;
            background: #D2001B;

            span {
                color: #FFF;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }
}